"""{{ model.name }} generated type."""
{% if model.direct_import -%}
{% for imp in model.direct_import -%}
{{ "import " }}{{ imp }}{{ "\n" -}}
{% endfor -%}
{% endif -%}
from typing import TypedDict{% if model.typing_import %}{{ ", " }}{{ model.typing_import | join(", ") }}{% endif %}{{ "\n" -}}
{% if model.model_import -%}
{{ "\n" -}}
{{ "from kubernetes_typed.client import " }}{{ model.model_import | join(", ") }}{{ "\n" }}
{% endif -%}

{# Using pep 589 alternative syntax to allow reserved keywords as keys -#}
{% filter indent(0, True) -%}
{{ model.name }} = TypedDict(
{% filter indent(4, True) -%}
    "{{ model.name }}",
{{ "{}," if not model.attributes else "" -}}
{% if model.attributes -%}
    {
    {% filter indent(4, False) -%}
    {% for attribute in model.attributes -%}
        "{{ attribute.name -}}"{{ ": " -}}{{ attribute.type -}}{{ ",\n" -}}
    {% endfor -%}
    {% endfilter -%}
    },
total=False,
{% endif -%}
{% endfilter -%}
)
{% endfilter -%}
